
body{
margin:0;
background:#202020;
font-family:Arial;
color:white;
}

.layout{
display:grid;
grid-template-columns:260px 240px 240px;
gap:25px;
padding:30px;
align-items:start;
}

.panel{
background:#555;
padding:20px;
border-radius:15px;
}

.preview,.result{
background:#222;
padding:20px;
border-radius:15px;
text-align:center;
}

canvas{
width:200px;
height:300px;
background:#333;
}

label{
display:block;
margin:7px 0;
}

.download{
margin-left:30px;
padding:15px 40px;
background:#43b83f;
color:white;
border:0;
border-radius:10px;
font-size:18px;
cursor:pointer;
}
